/* LoginStyle.css */
.login-container {
    margin: 16px; /* Adjust as needed */
 }
 
 .login-button {
    margin-bottom: 16px; /* Adjust as needed */
 }
 
 .input-container {
    margin-bottom: 8px; /* Adjust as needed */
 }
 
 .login-button-container {
    margin-top: 16px; /* Adjust as needed */
 }
 